<div class="row">
    <div class="container">
        <div class="txt">
            <h1 class="title">Proyectos Realizados</h1>
            <h2 class="sub-title">Encriptador</h2>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Iure, magnam! Earum nam quae ex aperiam maxime quam consequuntur molestias excepturi illum consequatur ipsum, et repellendus laboriosam 
                non consectetur necessitatibus beatae?</p>
        </div>  
        <img class="imagen" src="../../../assets/imagenes/download.jpg" alt="">
    </div>
</div>
  
