<body class="sobre-mi">
    <div class="grid-container">
        <div class="grid-item">
            <img src="../../../assets/imagenes/1666723088227.jpg" class="perfil">
        </div>
       <div class="yo">
           <div  class="grid-item">
            <p id="nombre">{{persona.nombre}}<br>{{persona.apellido}} </p>
            <p>Full Stack <br>Develoger Jr</p>
            </div>
           <div  class="grid-item">
                <div class="acerca-mi">
                    <h1>Acerca de mi</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, totam laborum repudiandae iure reiciendis inventore, adipisci doloremque cum deleniti repellat quos
                     animi odio numquam iusto magnam quaerat vero! Vel, tempora.</p>
                </div>
           </div>
       </div>
    </div>
</body>